*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#wrapper{
  height: 100%;
}

#top{
  border-bottom: 2px solid black;
  height: 6rem;
  display: flex;
  align-items: center;
}

.top_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.top_left h1{
  font-size: 50px;
}

.top_left .one{
  display: flex;
  align-items: center;
  gap: 10px;
}

.top_left i{
  font-size: 30px;
}

.top_right{
  margin-left: auto;
  margin-right: 2rem;
}

.top_right input{
  position: relative;
  height: 2rem;
  width: 15rem;
  outline: none;
}

#search_button{
  height: 2rem;
  width: 2rem;
  position: relative;
  right: 2.3rem;
  background: transparent;
  border: 0px transparent;
  border-radius: 3px;
}

#bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 95%;
  margin: 20px 0;
  font-family: sans-serif;
  border-collapse: collapse;
}

th{
  border: 1px solid #dddddd;
  padding: 1rem;
  text-align: left;
}

td {
  border: 1px solid #dddddd;
  padding: 30px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid black
}

button:hover{
  background: #4747ff;
  border: 1px solid transparent;
  border-radius: 5px;
}
